.navbar {
  background: url('/assets/zwartevilt.png');
  // background-color: $blue;
  border-radius:0;
  box-shadow: 0px 5px 3px #2a2a2a;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight:bold;
}
.clearfix {
  clear:both;
  content:'';
}
.flex-center {
  display: flex;
  justify-content: center;
}
 h2 {
   text-align: center;
 }
 #map {
height: 300px;
margin-bottom:1em;
}

//block quote style
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
