.place-photo {
  img {
      width:30vw;
      min-width:260px;
      margin:1em auto;
  }
}
.front-photo {
  img {
      width:25vw;
      min-width:160px;
      margin:1em auto;
  }
}
.carousel-inner {
  img {
    height:200px;
  }
}
