<hgroup class="headers">
  <h1>Welcome to Nomster!</h1>
  <h3>Your one stop spot to find out about the best restaurants around</h3>
</hgroup>
  <% @places.each do |place| %>
    <div class="place-box col-xs-10 col-xs-offset-1">
      <h2><%= place.name %></h2>
      <i><%= place.address %></i><br/><br/>
      <p><%= place.description %></p><br />
    </div>
  <% end %>
